-- Script para corrigir problemas da gestão interativa de pneus

-- Execute este script no seu banco de dados

-- 1. Criar tabela status_pneus se não existir
CREATE TABLE IF NOT EXISTS status_pneus (
    id INT(11) NOT NULL AUTO_INCREMENT,
    nome VARCHAR(50) NOT NULL,
    descricao TEXT NULL,
    cor VARCHAR(20) DEFAULT '#666666',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    PRIMARY KEY (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
